table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

td {
	border-left: 1px solid black;
    width: 100px;
}

input {
    width: 100px;
}

div {
	text-align: center;
    margin: 10px auto;
    width: 100%;
}
