*{
	margin: 0;
	padding: 0;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
}
body{
	background-color: #fff;
}
h2,h1{
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 40px black;
	font-family: 'Orbitron', sans-serif;
}
h1{
	font-size: 40px;
	margin-top: 150px;
}
.fc-left h2{
color: white;
}
.fc-time-grid-container{
	max-height:350px!important;
}
.fc-view-container{
	background-color: white;
}
.oculto{
	display: none;
}
.ancla>img{
	height: 70px;
}
#slides{
	width: 500px!important;
	margin: 0 auto;
	height: 300px!important;
}
#slides img{
	width: 100%!important;
	height: 200px!important;
}

.nav2{
	padding: 0px 15px;
	font-size: 1rem;
}
.nav2:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#cartel h2{
	margin-top: -70px!important;
}
.brand-logo{
	font-size: 28px;
	font-family: 'Orbitron', sans-serif;
}
.modal a.close-modal {
	top:-1px!important;
	right: 0px!important;
}
.blocker{
	z-index: 10!important;
}
#slides {
	display:none;
}
#datos p, #datos a, #actividad p{
	font-size: 18px;
	padding-bottom: 10px;
}
.collapsible{
	border: 0;
	box-shadow: none;
}
.collapsible-header,.collapsible-body{
	border: 0;
}
@media (max-width: 768px) {
	#slides{
		width: 100%!important;
		margin: 0 auto;
		height: 300px!important;
	}
	.slidesjs-control{
		width: 100%!important;
		height: 100px!important;
	}
	.fc-right,.fc-button-group{
		width: 100%!important;
	}
	#calendar h2{
		font-size: 18px;
	}
	.fc-prev-button,.fc-next-button{
		padding:1%!important;
	}
	.fc-icon{
		font-size: 12px!important;
	}
}
