* {
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu > li {
    float: left;
}

.menu > li a {
    background-color: #1A6091;
    color: #FFF;
    display: block;
    border: 1px solid;
    padding: 10px;
}

.menu > li a:hover {
    background-color: #1A6091;
}

.menu li .flecha {
    font-size: 10px;
    padding-left: 5px;
    display: none;
}

.menu li a:not(:last-child) .flecha {
    display: inline;
}

.menu li ul {
    display: none;
    min-width: 140px;
    position: absolute;
}

.menu li:hover > ul {
    display: block;
}

.menu li {
    position: relative;
}

.menu li ul li ul {
    left: 140px;
    top: 0;
    display: none;
}
